/* -------------------------------------------------------------------- Variables */
:root {
    --concrete:#f2f2f2;
    --turquoise: #2ec4b6;
    --black: #000000;
    --blue: rgba(0, 76, 143, 1);
    --transparent-black:rgba(0, 0, 3, 0.486);
    --midnight:#011627;
    --font:Wotfard,sans-serif;
}

/* -------------------------------------------------------------------- Resets */

html {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--midnight);
    font-family: var(--font);
    margin-bottom: 78px;
    }

    a {
        text-decoration: none;
        color: var(--concrete);
    }
    /* -------------------------------------------------------------------- Hover / Focus */

    li a:hover,
    li a:focus {
        color: var(--turquoise);
        border-bottom: 2px solid var(--turquoise);
    }
  

/* -------------------------------------------------------------------- Accessibility */

.tap-target {
    min-width: 48px;
    min-height: 48px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    concrete-space: nowrap;
    border: 0;
}

/* -----------------------------------------------------Special paddings/margins/text */
.section-heading{
    text-align:center;
    font-size: 50px;
    color: var(--turquoise)
}
#experience,
#projects{
    color:var(--concrete);
    margin-top:2%;
}
/* -------------------------------------------------------------------- vertical line to simulate moving data */

#line{
    position: absolute;
    width:4px;
    height:100%;
    background-color:var(--concrete);
    right: 12%;
    z-index: -1;
    box-shadow: 2px 2px 5px 10px #e6e6e654;
}

.drop-inside-line{
    position: absolute;
    width:10px;
    height:30px;
    background-color:var(--concrete);
    border-radius: 50%;
    animation: drop-inline-movement 2s linear infinite;
    left:-3px;
}

/* -------------------------------------------------------------------- Header */

#header {
    display: grid;
    grid-template-areas: "logo space menu";
    padding: 20px;
    width:100%;
}

.menu {
    grid-area: menu;
}

.menu ul {
    display: grid;
    grid-template-areas: "Home Projects Skills Experience Contact";
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu li {
    text-align: center;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: var(--concrete);
}

.menu-bar {
    display: none;
}

.logo-circle{
    position: relative;
    width: 50px;
    height:50px;
    border:2px solid var(--turquoise);
    font-size:25px;
    line-height: 45px;
    animation:rotate-log-frame  4s linear infinite;
}
.logo{
    position: absolute;
    color:var(--concrete);
    top:25px;
    left:30px;
    font-family: var(--font);
    font-size: 35px;
}

/* -------------------------------------------------------------------- Home Page */
#home {
    margin:7% auto;
    display: grid;
    grid-template-areas: "name-acupation profile-photo paragraph";
    width: 70%;
    animation:zoom-in 4s linear;
}

.name-ocupation {
    grid-area: name-acupation;
    color:var(--concrete);
    height: 50%;
    width: auto;
}

.name-ocupation p{
    font-size: 20px;
}

.name-ocupation h1 {
    font-size: 50px;
    color: var(--turquoise)
}

.name-ocupation h2 {
    font-size: 30px;
}

.profile-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--turquoise);
    margin-left: -50%;
}

.paragraph {
    grid-area: paragraph;
    color: var(--turquoise);
    width: 60%;
    grid-column: 1;
    grid-row: 2;
    margin-top: -10%;
    text-align: justify;
}
/* -------------------------------------------------------------------- Skills Page */

#skills{
    color:var(--concrete);
    margin-top:10%;
}
#skills h3{
    text-align:center;
    margin-top:10px;
    font-size: 24px;
}

.progress-container{
    margin-top:40px;
    padding:20px;

}

.progress{
    border:2px  solid var(--concrete);
    border-radius:20px;
    width:60%;
    margin:10px auto;
    color:var(--black);
    position:relative
}

.progress-bar1,.progress-bar2,.progress-bar3, .progress-bar4,.progress-bar5{
    position:relative;
    background-color: var(--turquoise);
    padding:5px;
    border-radius:20px;
}

.progress-bar1{
    animation: progress1 4s linear forwards;
}

.progress-bar2{
    animation: progress2 4s linear forwards;
}

.progress-bar3{
    animation: progress3 4s linear forwards;
}

.progress-bar4{
    animation: progress4 4s linear forwards;
}
.progress-bar5{
    animation: progress5 4s linear forwards;
}
.timeline-item h3,h4,p{
    padding:5px;

}
.history-items{
    margin-top:-20px;
}
.language-icon{
    width:25px;
}
.progress div img, p{
    position: relative;
    display: inline;
}
.progress div p{
    top:-6px;
    left:10px;
    color: var(--concrete)
   
}
.progress div img{
    left:10px;

}

/* -------------------------------------------------------------------- Experience Page */

.history-items{
    display:grid;
    grid-template-columns: auto;
    margin-top:50px;
    grid-row-gap:60px;
    position:relative;
}

.timeline-item{
    width:30%;
    text-align:center;
    margin: auto;
    position:relative;
}


.timeline-item::before{
    position:absolute;
    content: '';
    background-color:var(--turquoise);
    width:20px;
    height:20px;
    margin:15px 0px 0px -60.5%;
    border-radius:50%;

}
/* -------------------------------------------------------------------- Project page */
.card-container{
display:grid;
grid-template-columns:auto auto auto;
grid-row-gap:70px;
margin:50px auto;
width:80%;
}


.card{
    position: relative;
    margin:auto;
    background-color:var(--concrete);
    text-align:center;
}

.card-img{
    width:352px;
    height:255px;
    object-fit: fill;
  }


.card-body{
  position:absolute;
  background: var(--transparent-black);
  color:var(--concrete);
  top:0px;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.card:hover .card-body{
    visibility: visible;
    cursor: pointer;
    visibility: visible;
    opacity: 1;

}
.card-title{
    position: relative;
    top:40px;
}

.card-text{
    position: relative;
    top:60px;
}

.card-body a{
    position: relative;
    top:100px;

}

.card-body:hover h1{
    animation: move-title-text 0.2s linear forwards;
}
.card-body:hover p{
    animation: move-title-text 0.2s linear forwards;
}
.card-body:hover a{
    animation:  move-link 0.2s linear forwards;
}
/* -------------------------------------------------------------------- Contact page */

.contact_form{
    width:50%;
    height:50%;
    margin: 5% auto;
}
    
    .contact_form p{
    color:var(--concrete);;
    text-align:center;
    padding-bottom: 20px;
    }
    .contact_form .input-field[type=text], .input-field[type=email]{
      width: 100%;
      padding: 12px 10px;
      margin: 4px 0;
      box-sizing: border-box;
      color: var(--black);
      background-color: var(--concrete);
      font-size:15px;
      height:30px;
      border: none;
      font-family: var(--font);
    }
    
    .contact_form textarea {
      width: 100%;
      height:200px;
      padding: 5px 10px;
      margin: 4px 0;
      box-sizing: border-box;
      color: var(--black);
      background-color: var(--concrete);
      font-size:15px;
      resize: none;
      border: none;
      font-family: var(--font);
    }
    
    .contact_form input[type=text]:hover, input[type=email]:hover, textarea:hover{
    border:1px solid var(--black);
    }
      
    .contact_form ::placeholder{
       color: var(--black);
       font-size:15px;
       font-family: var(--font);
    }
    
    
    .form_btn{
    float:right;
    border: none;
    font-size:15px;
    color:var(--black);
    border:5px solid var(--black);
    padding:10px;
    animation: change-btn-form-color 0.5s alternate infinite;
    }
    
    .form_btn:hover{
    cursor: pointer;
    }


/* -------------------------------------------------------------------- Animation */

@keyframes rotate-log-frame {
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
    }
}


@keyframes zoom-in{
    0%{
        transform:scale(.5);
    }
    
    100%{
        transform:scale(1);
    }
    } 


    @keyframes progress1{
        0%{
            width:20%;
        }
        100%{
            width:95%;
        }
        }
        
        @keyframes progress2{
            0%{
                width:20%;
            }
            100%{
                width:90%;
            }
        }
        
        @keyframes progress3{
            0%{
                width:20%;
            }
            100%{
                width:70%;
            }
        }
        
        @keyframes progress4{
            0%{
                width:20%;
            }
            100%{
                width:89%;
            }
        }
        
        @keyframes progress5{
            0%{
                width:20%;
            }
            100%{
                width:98%;
            }
        }


        @keyframes move-title-text {
            0%{
                left:300px
        
            }
        
            100%{
                left:0px;
            }
        }
        
        
        @keyframes move-link {
            0%{
                left:300px
        
            }
        
            100%{
                left:0px;
                border:2px solid var(--turquoise);
                padding:10px;
            }
        }

        @keyframes change-btn-form-color {
            0%{
                border:5px solid var(--midnight);
            }
            100%{
                border:5px solid var(--turquoise);
            }
        }

        @keyframes drop-inline-movement {
            0%{
                top:0;
            }
            100%{
                top:100%;
            }
            
        }
        
        
/* -------------------------------------------------------------------- Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: var(--concrete);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: center;
}

footer div {
    padding: 10px;
}

.cv-pdf i {
    width: 50px;
    height: 50px;
    color: var(--concrete);
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    border-radius: 50%;
    border: 2px solid rgb(97, 105, 97);
    line-height: 40px;
    text-align: center;
}

.cv-pdf a {
    color: #2234ae;
}


.social {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;

}

.social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--concrete);
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    border: 2px solid rgb(97, 105, 97);
    line-height: 45px;
    text-align: center;
}

.copyright-container {
    display: grid;
    align-content: center;
}

.cv-pdf a:hover,
.cv-pdf a:focus {
    color: var(--black);

}

.social a:hover,
.social a:focus {
    background: linear-gradient(90deg, rgba(9, 9, 9, 1) 46%, rgba(0, 76, 143, 0.9402135854341737) 68%);
}

/* -------------------------------------------------------------------- Media queries */

      /* large devices (laptops and desktops, from 1374px to 1025px)*/
      @media only screen and (max-width: 1374px) {

          .name-ocupation h1 {
              font-size: 35px;
          }

          .name-ocupation h3 {
              font-size: 25px;
          }

          .profile-photo img {
              width: 250px;
              height: 250px;
              margin-left: -50%;
          }

          .paragraph {
              margin-top: -50px;
              width: 60%;
          }

          .card-container{
            grid-template-columns:auto auto auto;
            width:100%;
            }
            #line{
                right: 13%;
            }

      }

      /* Medium devices (landscape tablets, from 1025px to 768px) */
      @media only screen and (max-width: 1025px) {
          #home {
              margin-top: 7%;
          }

          .name-ocupation h1 {
              font-size: 30px;
          }

          .name-ocupation h2 {
              font-size: 20px;
          }

          .profile-photo img {
              width: 250px;
              height: 250px;
              margin-left: 30%;
          }

          .paragraph {
              margin-top: -100px;
              width: 100%;
          }
     /* project section */
      .card-container{
        grid-template-columns:auto auto;
        width:100%;
        }

    /* vertical line to simulate moving data*/

    #line{
        right: 15%;
    }
      }
      

     /* stop the vertical line to move on the icon */
      @media only screen and (max-width: 849px) {
        #line{
            right: 16%;
        }

      }

      /* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

    /* header section */
    .menu-bar {
        border-radius: 2px 2px 2px 2px;
        display: block;
        color: var(--concrete);
        width: 48px;
        height: 48px;
        position: absolute;
        right: 10%;
        top: 19px;
    }
    .menu {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
        overflow-y: hidden;
        transition: 0.5s;
        margin: 0;
        display: grid;
        align-content: center;
    }

    .menu ul {
        display: grid;
        grid-template-areas: "auto";

    }

    .overlay-content {
        overflow: hidden;
        width: 100%;
        cursor: pointer;

    }


    .overlay-content li:after {
        content: "";
        background: var(--turquoise);
        display: block;
        width: 50%;
        height: 2px;
        margin: 10px auto;

    }

    .close-icon {
        padding-top: 8px;
    }

    .navbar-toggle {
        height: 50%;
    }

/* home section */
#home {
    text-align: center;
    margin:6% auto;
}

.name-ocupation {
    color: var(--concrete);
    height: 50%;
    grid-row: 1;
    grid-column: 1;
}

.name-ocupation h1 {
    font-size: 25px;
}

.profile-photo {
    grid-area: profile-photo;
    grid-row: 2;
    grid-column: 1;
    margin-top: 30px;

}

.profile-photo img {
    width: 200px;
    height: 200px;
    margin-left: -5%;

}

.paragraph {
    grid-row: 3;
    grid-column: 1;
    text-align: justify;
    margin-top: 50px;
    width: 100%;
}


/* footer */
.copyright-container p {
    font-size: 8px;

}

.cv-pdf a {
    font-size: 12px;
}

.social a {
    width: 30px;
    height: 30px;
    line-height: 25px;
    }

    .cv-pdf i {
        width: 30px;
        height: 30px;
        line-height: 25px;
      }

/* skill section */
    #skills h3{
        font-size: 20px;
    }
    .progress{
        width:100%;
    }

    .progress{
        width:90%;
    }

/* experience section*/
    .timeline-item{
        width:70%;
    }

/* Project section*/
    .card-container{
        grid-template-columns:auto;
        }

        .card-img{
            width:300px;
            height:200px;
            object-fit: fill;
          }

          .card-body{
         font-size: 12px;
          }

/* contact page */
          .contact_form{
            width:80%;
        }

        .form_btn{
            font-size:15px;
            }

/* spacial margin/size */
        #experience,
        #skills{
            margin-top:15%;
        }
    
        .section-heading{
            font-size: 30px;
        }

/*vertical line to simulate moving data*/

#line{
    width:2px;
    right: 5%;
    box-shadow: 2px 2px 5px 5px #e6e6e654;
}

.drop-inside-line{
    width:5px;
    left:-1.1px;
}

/* Animation media queries */
@keyframes progress1{
    0%{
        width:40%;
    }
    100%{
        width:95%;
    }
    }
    
    @keyframes progress2{
        0%{
            width:40%;
        }
        100%{
            width:90%;
        }
    }
    
    @keyframes progress3{
        0%{
            width:40%;
        }
        100%{
            width:70%;
        }
    }
    
    @keyframes progress4{
        0%{
            width:40%;
        }
        100%{
            width:89%;
        }
    }
    
    @keyframes progress5{
        0%{
            width:40%;
        }
        100%{
            width:98%;
        }
    }



}